.robots__container{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: stretch;
  justify-items: center;
  padding: 10px;
  margin: 10px 10% 10% 10%;
}


  
.robots__container div {
  padding: 7px;
  margin: 5px;
  width: 100%;
  font-size: clamp(0.6rem, 0.75vw, 1rem); 
}